# Ambiente
DJANGO_DEBUG=0
DJANGO_SECRET_KEY="troque-por-uma-chave-segura"
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_SECURE_SSL_REDIRECT=0
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=0
DJANGO_SECURE_HSTS_PRELOAD=0

# Banco (DEV: sqlite; PROD: mude para Postgres)
DJANGO_DB_URL=sqlite:///db.sqlite3

# Ex.: para Postgres na VPS (exemplo)
# DJANGO_DB_URL=postgres://user:pass@localhost:5432/sua_base
