###############################################################################
# 🧩 DJANGO – Configurações de Produção
###############################################################################

# Ambiente
DJANGO_DEBUG=0
DJANGO_SECRET_KEY="coloque-uma-chave-forte-aqui"

# Domínios e segurança
DJANGO_ALLOWED_HOSTS=minhacnhonline.com.br,www.minhacnhonline.com.br
DJANGO_CSRF_TRUSTED_ORIGINS=https://minhacnhonline.com.br,https://www.minhacnhonline.com.br

# Forçar HTTPS e ativar HSTS
DJANGO_SECURE_SSL_REDIRECT=0 # Deixe em 0, pois o redirecionamento ocorrerá no CloudFlare
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=1
DJANGO_SECURE_HSTS_PRELOAD=1

# Banco de Dados (PostgreSQL)
DJANGO_DB_URL=postgres://multimidia:SENHA-MUITO-FORTE@10.0.0.3:5432/multimidia

# Idioma e fuso horário
DJANGO_LANGUAGE_CODE=pt-br
DJANGO_TIME_ZONE=America/Sao_Paulo
